{% extends 'admin_header.html' %}
<style>
    
</style>
{% block content %}
<!-- User Management Header Section -->
<div class="dashboard-header">
    <h1>User Management</h1>
</div>

<!-- User Management Table -->
<div class="dashboard-container">
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Contact Number</th>
                <th>User Type</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.full_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.contact_number }}</td>
                <td>{{ user.user_type }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
